.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rebeccapurple;
}

.container button {
  width: 140px;
  height: 40px;
  line-height: 20px;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
  padding: 8px 1rem;
  text-transform: capitalize;
  outline: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, .3);
  border: none;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}


.container button:hover {
  background-color: rgb(76, 22, 131);
}

.container a {
  color: royalblue;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.container a:hover {
  text-decoration: underline;
  color: rgb(73, 73, 73);
}